src/main/resources/schema/infinispan-cachestore-ceph-config-9.0.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0"
           targetNamespace="urn:infinispan:config:store:ceph:9.0"
           xmlns:tns="urn:infinispan:config:store:ceph:9.0"
           xmlns:config="urn:infinispan:config:9.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="urn:infinispan:config:9.0"
             schemaLocation="http://www.infinispan.org/schemas/infinispan-config-9.0.xsd" />

  <xs:element name="ceph-store">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="config:store">
          
          <xs:attribute name="user-name" type="xs:string">
            <xs:annotation>
              <xs:documentation>
                User name for authentication against Ceph.
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="key" type="xs:string">
            <xs:annotation>
              <xs:documentation>
                Key for Ceph authentication. Alternatively, path to keyring file which contains key can be set up via keyringPath.
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="keyring-path" type="xs:string">
            <xs:annotation>
              <xs:documentation>
                Path to Ceph key ring file. This file must contain valid key for authnetication.
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="monitor-host" type="xs:string">
            <xs:annotation>
              <xs:documentation>
                Ceph monitor. Expected format is $MINITOR_HOST:$PORT, e.g. 127.0.0.1:6789
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="pool-name" type="xs:string">
            <xs:annotation>
              <xs:documentation>
                Name of the Ceph pool where cache data will be stored. Note that if pool name is set, no additional prefix is added, so if two
                caches are configured with same pool name, cache store will overwrite keys with the same name!
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="pool-name-prefix" type="xs:string">
            <xs:annotation>
              <xs:documentation>
                Prefix for constructing Ceph pool name. Pool name is constructed as $PREFIX_$CACHENAME, where $CACHENAME is cache name where all 
                non-alphabetical and non-digit characters are replaced by underscode. 
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="key-2-string-mapper" type="xs:string" default="org.infinispan.persistence.keymappers.MarshalledValueOrPrimitiveMapper">
            <xs:annotation>
              <xs:documentation>
                 The name of a class to use for converting keys to strings. Defaults to
                 org.infinispan.persistence.keymappers.MarshalledValueOrPrimitiveMapper
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
</xs:schema>

